.hub 
{
    background-color: #000000;
}

.hub-title
{
    margin-top: 2rem;
    background-color: aqua;
}

.hub-category-buttons
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-left: 4rem;
}

.hub-shows
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 2rem;
    margin-left: 2rem;
}
