.category-button
{
    margin: 1rem;
    width: 10vw;
    color: rgba(240, 248, 255, 0.733);
}

.category-button button
{
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background: -webkit-linear-gradient(45deg, rgb(0, 174, 255), rgb(76, 0, 255));
    transition: ease-in-out 0.2s;
}

.category-button button:hover
{
    scale: 1.1;
    color: rgb(240, 248, 255);
}