.search-bar
{
    margin: 3rem;
    margin-left: 5rem;
    width: 33%;
}

.search-bar input
{
    width: 100%;
    background: transparent;
    border-bottom: 2px solid aliceblue;

    transition: ease-in-out 0.2s;

    background-color: transparent;
    padding-left: 1rem;
    color: aliceblue;
}

.search-bar input:focus
{
    background-color: #1d1f24;
}
