.show-card 
{
    /* background-color: rgb(241, 218, 218); */
    background-color: #2d2f38;
    width: 20%;
    border-radius: 0;
    margin: 1rem;
    margin-top: 5rem;
    transition: ease-in-out 0.2s;
}

.show-card:hover
{
    transform: scale(1.1);
}


.show-card-title
{
    background-color: rgb(246, 174, 174);
}

.show-card-poster-container
{
    background-color: rgb(19, 221, 56);
    width: 100%;
}

.show-card-poster-container img
{
    background-color: rgb(19, 221, 56);
    width: 100%;
}

.show-card-cover
{
    /* background-color: rgb(233, 245, 255); */
    background-color: #2d2f38ec;

    height: 10vw;

    margin-top: -8vw;
    position: relative;
    z-index: 2;

    border-radius: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: aliceblue;
}

.show-card-cover-infos 
{
    /* background-color: rgba(238, 130, 238, 0.18); */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.show-card-cover 
{
    /* display: none; */
}

.show-card-cover:hover
{
    /* background-color: red;
    display:block; */
}


.show-card-cover-infos h2
{
    font-weight: bold;
    font-size: clamp(0.5rem, 12vw , 1rem);
    background: -webkit-linear-gradient(45deg, rgb(0, 174, 255), rgb(76, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.144) ;
}

.show-card-cover-infos p
{
    font-size: clamp(0.5rem, 12vw , 0.8rem);
    color: aliceblue;

}

.show-card-cover-infos h3
{
    font-weight: bold;
    font-size: clamp(0.5rem, 12vw , 1rem);
    background: -webkit-linear-gradient(45deg, rgb(0, 174, 255), rgb(76, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}